<!-- Navigation-->
  <% if(title == "Home Page" || title == "Register" || title == "Login") {%>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
  <%} else {%>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav" style="background-color: rgba(0, 0, 0, 0.5);">
  <%}%>
        <div class="container">
            <!--Logo Insertion-->
            <a href="/"><img src="/assets/images/logo.png" class="rounded" alt="Logo" width="100"> </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/tournaments/create"><button type="button" class="btn btn-info">Create A
                                Tournament</button></a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/tournaments"><button type="button" class="btn btn-info">Your Tournaments
                                </button></a></li>
                    
                    <% if(typeof firstName == "string" && firstName) {%>
                    <li class="nav-text">Welcome, <%= firstName %></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger mt-2" href="/logout">Sign-out</a></li>
                    <% } else { %>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger mt-2" href="/login">Sign-in</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>