<% let finalBracket = tournament.finalBracket; %>
<style>
    .tournament-container {
        overflow-x: auto;
    }
    .team-box {
        width: 15rem;
    }
</style>

<!-- Top-level container for the brackets -->
<div class="container-fluid margined tournament-container">
<%- include('partials/bracket', { bracket: finalBracket, teams: tournament.teams }) %>
</div>
