<!--Login view-->

            <fieldset class="form-group">
                <label for="username">Username: </label>
                <input type="text" class="form-control" name="username"placeholder="Enter the username" id="username" required>
            </fieldset>
            <fieldset class="form-group">
                <label for="password">Password: </label>
                <input type="password" class="form-control"name="password" placeholder="Enter the password"id="password"required>
            </fieldset>
            or 
            <a href="/register">Register Here</a>
           </fieldset>
           <fieldset class="form-group text-right">
               <input type="submit" class="btn btn-success" value="Login">
               <a href="/" >
            <input type="button" class="btn btn-warning"value="Cancel">
            </a>
            </fieldset>
            
